body {
    margin: 0;
    border: 0;
    font-family: Raleway, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
}


/* HEADER */


/* <!-- SECCION HEADER --> */

.header {
    top: 0px;
    left: 0px;
    /* width: 1280px; */
    height: 73px;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero-img img {
    width: 100%;
    top: 73px;
    left: 0px;
    /* width: 1280px; */
    height: 727px;
}


/*DESCRIPCIÓN*/


/* <!-- SECCION DESCRIPCION --> */

.desc-section {
    background-color: #000000;
    margin: 0;
    padding: 45px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.desc-text {
    width: 60%;
    display: inline-block;
    padding-right: 20px;
    text-align: left;
    vertical-align: middle;
    top: 876px;
    left: 150px;
    /* width: 475px; */
    height: 197px;
}

.desc-img {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.desc-img img {
    /* width: 100%; */
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
}


/*ICONOS*/


/* <!-- SECCION ICONOS --> */

.icons-section {
    background-color: #1E1A13;
    text-align: center;
    padding: 50px;
}

.icons-section h2 {
    /* Raleway Medium (500). */
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1em;
}

.icons {
    display: inline-block;
    width: 30%;
}

.icons p {
    font-size: 25px;
    /* Raleway Light (300). */
    font-weight: 300;
}


/*IMAGENES*/


/* <!-- SECCION IMAGENES --> */

.img-section {
    text-align: center;
    padding: 75px 0;
}

.image {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.image img {
    /* width: 90%; */
    top: 1561px;
    left: 814px;
    width: 316px;
    height: 202px;
}


/*FOOTER*/


/* <!-- SECCION FOOTER LINK VISITAS --> */

footer {
    background-color: #1E1A13;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: white;
}